/* style.css
 * This styles the file index.html
 */
 @font-face {
    font-family: 'MomsDiner';
    font-style: normal;
    font-weight: 400;
    src: url('MomsDiner.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.display-name {
    font-size: 4rem;
}

.test-class {
    font-family: 'MomsDiner';
}

.main-content {
    flex-grow: 1;
}

.social-icon {
    font-size: 2rem;
    margin: 0 0.5rem; /* top/bottom right/left */
}


